<%- include("templates/cabecera", {tituloWeb: "Contacto"}) %>

<%- include("templates/navbar", {activa: "contacto"}) %>
<h1>Esto es Contactos ejs</h1>
<h2><%= titulo %></h2>

<%- include("templates/footer") %>