<%- include("templates/cabecera", {tituloWeb: "Index"}) %>
<%- include("templates/navbar", {   indexActiva: "",
                                    serviciosActiva: "",
                                    contactoActiva: "active"}) %>
<body>
    <h1>Esto es Contactos ejs</h1>
    <h2><%= titulo %></h2>
</body>
<%- include("templates/footer") %>
</html>