<%- include("templates/cabecera", {tituloWeb: "Index"}) %>

<%- include("templates/navbar", {activa: "index"}) %>
<h1>Este es el INDEX ejs</h1>
<h2><%= titulo %></h2>
<p>Tengo piojitos?<p>
<p>No.</p>
<a href="servicios"><p>SERVICIOS</p></a>

<%- include("templates/footer") %>