<%- include("templates/cabecera", {tituloWeb: "Index"}) %>
<%- include("templates/navbar", {   indexActiva: "",
                                    serviciosActiva: "active",
                                    contactoActiva: ""}) %>
<body>
    <h1>Esto es SERVICIOS ejs</h1>
    <h2><%= titulo %></h2>
</body>
<%- include("templates/footer") %>
</html>