<%- include("templates/cabecera", {tituloWeb: "Servicios"}) %>

<%- include("templates/navbar", {activa: "servicios"}) %>
<h1>Esto es SERVICIOS ejs</h1>
<h2><%= titulo %></h2>

<%- include("templates/footer") %>
