<div class="topnav">
    <a class="<%= indexActiva %>" href="../">Home</a>
    <a class="<%= serviciosActiva %>" href="../servicios">Servicios</a>
    <a class="<%= contactoActiva %>" href="../contacto">Contacto</a>
</div>