<div class="topnav">
    <a <%- activa === 'index' ? "class='active'" : "" %> href="../">Home</a>
    <a <%- activa === 'servicios' ? "class='active'" : "" %> href="../servicios">Servicios</a>
    <a <%- activa === 'contacto' ? "class='active'" : "" %> href="../contacto">Contacto</a>
</div>